.main-map {
  background-image: url("../../img/index-sedona-footer-map-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%x;
  margin-top: 0;
  margin-bottom: 41px;
}
