


.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: $large-text;
}

.copyright__text {
  text-decoration: none;
  text-transform: uppercase;

  margin: 0 13px 0 95px
}

.copyright__logo {
  margin: 0 96px 0 0px

}
.main-footer__copyright {
margin-bottom: 40px;
margin-top: 37px
}
