
.main-footer__hashtag {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $large-text;
  align-items: center;
  height: 26px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
